<div class="card">
  <div
    class="header">
    <h2 style="margin: 0;">Danh sách người dùng</h2>
    
  </div>
  <div class="body-bar">
    
    <div class="search-bar">
      <i class="pi pi-search search-icon"></i>
      <input
      type="text"
      pInputText
      placeholder="Tìm kiếm người dùng..."
      [(ngModel)]="searchText"
      (input)="filterUser()"
      />
    </div>
    <button
      *ngIf="selectedUsers?.length"
      pButton
      type="button"
      label="Xóa đã chọn"
      icon="pi pi-trash"
      class="p-button-danger"
    ></button>
    <button
      pButton
      class="btn-green"
      type="button"
      label="Thêm người dùng"
      icon="pi pi-plus"
      (click)="openAddUserDialog()"
    ></button>
  </div>


  <p-table
    [value]="filteredUsers"
    [(selection)]="selectedUsers"
    dataKey="_id"
    [paginator]="true"
    [rows]="10"
    [responsiveLayout]="'scroll'">

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem;">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Họ tên</th>
        <th>Email</th>
        <th>Tên đăng nhập</th>
        <th>SĐT</th>
        <th>Địa chỉ</th>
        <th>Ngày sinh</th>
        <th>Vai trò</th>
        <th style="width:160px">Thao tác</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr [pSelectableRow]="user">
        <td>
          <p-tableCheckbox [value]="user"></p-tableCheckbox>
        </td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.phone_number }}</td>
        <td>
          <div *ngFor="let addr of user.address">
            {{ addr.value }}
            <span *ngIf="addr.isDefault">(mặc định)</span>
          </div>
        </td>
        <td>{{ user.birth | date: 'dd/MM/yyyy'}}</td>
        <td>{{ user.role }}</td>
        <td>
          <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm" (click)="editUser(user)"></button>
          <button pButton type="button" icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger" (click)="deleteUser(user)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>

<p-dialog header="{{ isEditMode ? 'Cập nhật người dùng' : 'Thêm người dùng' }}" [(visible)]="displayDialog" [modal]="true" [style]="{ width: '100%' }">
  <div class="p-fluid">
    <div class="p-field">
      <label for="full_name">Họ tên</label>
      <input id="full_name" pInputText type="text" pInputText [(ngModel)]="user.full_name" />
    </div>

    <div class="p-field">
      <label for="email">Email</label>
      <input id="email" pInputText type="email" pInputText [(ngModel)]="user.email" />
    </div>

    <div class="p-field">
      <label for="username">Tên đăng nhập</label>
      <input id="username" pInputText type="text" pInputText [(ngModel)]="user.username" />
    </div>

    <div class="p-field">
      <label for="phone_number">Số điện thoại</label>
      <input id="phone_number" pInputText type="text" pInputText [(ngModel)]="user.phone_number" />
    </div>

    <div class="p-field">
      <label for="addresses">Chọn địa chỉ đã lưu</label>
      <p-dropdown
        [options]="addresses"
        optionLabel="value"
        [(ngModel)]="selectedAddress"
        placeholder="Chọn địa chỉ"
        (onChange)="onAddressChange($event)"
      ></p-dropdown>
    </div>
    
    <div class="p-field">
      <label>Hoặc nhập địa chỉ mới</label>
      <input type="text" pInputText [(ngModel)]="newAddress" placeholder="Nhập địa chỉ mới" />
    </div>
    
    <div class="p-field">
      <label for="role">Vai trò</label>
      <p-dropdown
        [options]="roles"
        optionLabel="label"
        optionValue="value"
        [(ngModel)]="user.role"
        placeholder="Chọn vai trò"
      ></p-dropdown>
    </div>
    
    <div class="p-field">
      <label for="birth">Ngày sinh</label>
      <input id="birth" type="date" pInputText [(ngModel)]="user.birth" />
    </div>

  </div>

  <ng-template pTemplate="footer">
    <button pButton label="Hủy" icon="pi pi-times" class="p-button-text" (click)="cancelEdit()"></button>
    <button pButton label="Lưu" icon="pi pi-check" (click)="onSubmit()"></button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
