<div class="dashboard">
    <p-card class="card">
      <div class="card-header">
        <p>Orders</p>
        <i class="pi pi-shopping-cart icon"></i>
      </div>
      <div class="card-body">
        <h3 class="main-value">152</h3>
        <p class="additional-info">24 mới kể từ lần ghé thăm trước</p>
      </div>
    </p-card>
    <p-card class="card">
      <div class="card-header">
        <p>Orders</p>
        <i class="pi pi-shopping-cart icon"></i>
      </div>
      <div class="card-body">
        <h3 class="main-value">152</h3>
        <p class="additional-info">24 mới kể từ lần ghé thăm trước</p>
      </div>
    </p-card>
    <p-card class="card">
      <div class="card-header">
        <p>Orders</p>
        <i class="pi pi-shopping-cart icon"></i>
      </div>
      <div class="card-body">
        <h3 class="main-value">152</h3>
        <p class="additional-info">24 mới kể từ lần ghé thăm trước</p>
      </div>
    </p-card>
    <p-card class="card">
      <div class="card-header">
        <p>Orders</p>
        <i class="pi pi-shopping-cart icon"></i>
      </div>
      <div class="card-body">
        <h3 class="main-value">152</h3>
        <p class="additional-info">24 mới kể từ lần ghé thăm trước</p>
      </div>
    </p-card>
  <!-- <div class="chart">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
  </div> -->
</div>


