<div class="dashboard">
  <div class="card-total">
    <p-card class="card">
      <div class="card-header">
        <p>Đơn Hàng</p>
        <i class="pi pi-shopping-cart icon"></i>
      </div>
      <div class="card-body">
        <h3 class="main-value"> {{ totalOrders }}</h3>
        <p class="additional-info">24 mới kể từ lần ghé thăm trước</p>
      </div>
    </p-card>
    <p-card class="card">
      <div class="card-header">
        <p>Người Dùng</p>
        <i class="pi pi-user icon"></i>
      </div>
      <div class="card-body">
        <h3 class="main-value"> {{ totalUsers }}</h3>
        <p class="additional-info">24 mới kể từ lần ghé thăm trước</p>
      </div>
    </p-card>
    <p-card class="card">
      <div class="card-header">
        <p>Tổng Cộng</p>
        <i class="pi pi-dollar icon"></i>
      </div>
      <div class="card-body">
        <h3 class="main-value">{{ totalRevenue | dotSeparator }} VND</h3>
        <p class="additional-info">%52+ kể từ tháng trước</p>
      </div>
    </p-card>
    <p-card class="card">
      <div class="card-header">
        <p>Bình Luận</p>
        <i class="pi pi-shopping-cart icon"></i>
      </div>
      <div class="card-body">
        <h3 class="main-value">{{ totalComments }}</h3>
        <p class="additional-info">Đã trả lời</p>
      </div>
    </p-card>
  </div>
   <div class="chart-container">
    <h2>Xu hướng doanh thu</h2>
      <p-chart type="line" [data]="revenueChartData" [options]="revenueChartOptions"></p-chart>
  </div>
</div>