<p-tabs value="0">
  <div class="header">
    <h2>Danh sách Đơn Hàng</h2>
  </div>
  <p-tablist>
    @for (tab of tabs; track tab.value) {
      <p-tab [value]="tab.value"> {{ tab.title }} ({{ getOrderCountByStatus(tab.value) }})</p-tab>
    }
  </p-tablist>
  <p-tabpanels>
    @for (tab of tabs; track tab.value) {
      <p-tabpanel [value]="tab.value">
        <h3 class="m-0">{{ tab.content }}</h3>

      </p-tabpanel>
    }
    <div *ngFor="let order of orders" class="order-container">
      <div class="order-code">
        <h3>#{{ order._id }}</h3>
      <p>{{ order.createdAt | date: 'short' }}</p>
      </div>

      <p-table [value]="order.products" [tableStyle]="{'table-layout': 'fixed', 'width': '100%'}">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10%"></th>
            <th style="width: 50%">Sản phẩm</th>
            <th style="width: 10%">SL</th>
            <th style="width: 10%">Giá gốc</th>
            <th style="width: 10%">Giá KM</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr>
            <td><img [src]="product.coverImage" width="50px"></td>
            <td>{{ product.title }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price | dotSeparator }}</td>
            <td>{{ product.flashsale_price | dotSeparator }}</td>
          </tr>
        </ng-template>
      </p-table>
      <h3 style="text-align: right; margin-top: 10px;"> Tổng tiền: {{ order.total | dotSeparator }}</h3>

    </div>

  </p-tabpanels>
</p-tabs>


