<div class="profile-page">
    
  <div class="profile-container" *ngIf="currentUser">
    <!-- Sidebar -->
    <h2>Thông tin tài khoản</h2>
  
    <p-card class="card">
      <ng-template pTemplate="header">
        <div class="card-header">
          <p>Thông tin khách hàng</p>
        </div>
      </ng-template>
  
      <div class="card-body">
        <div class="form-group">
          <label><i class="pi pi-user"></i> Họ tên:</label>
          <input type="text" pInputText [(ngModel)]="currentUser.full_name" />
        </div>
      
        <div class="form-group">
          <label><i class="pi pi-envelope"></i> Email:</label>
          <input type="email" pInputText [(ngModel)]="currentUser.email" />
        </div>
      
        <div class="form-group">
          <label><i class="pi pi-id-card"></i> Username:</label>
          <input type="text" pInputText [(ngModel)]="currentUser.username" />
        </div>
      
        <div class="form-group">
          <label><i class="pi pi-phone"></i> Điện thoại:</label>
          <input type="text" pInputText [(ngModel)]="currentUser.phone_number" />
        </div>
      
        <div class="form-group">
          <label><i class="pi pi-calendar"></i> Ngày sinh:</label>
          <input type="date" pInputText [(ngModel)]="currentUser.birth" />
        </div>
      
        <div class="form-group">
          <label><i class="pi pi-map-marker"></i> Địa chỉ:</label>
          <input type="text" pInputText [value]="getDefaultAddress()" disabled />
          <!-- Địa chỉ mặc định, nếu muốn cho chỉnh sửa thì xóa disabled -->
        </div>
      </div>      
  
      <div class="card-footer" style="text-align: center; padding-top: 20px;">
        <button pButton label="Lưu cập nhật" icon="pi pi-book"  class="p-button "></button>
      </div>
    </p-card>
  </div>
</div>