<app-breadcrumb
  [items]="[
    { label: 'Trang chủ', url: '/' },
    { label: 'Tác giả' }
  ]">
</app-breadcrumb>
<div class="author-details" *ngIf="author">
  <div class="info-1">
    <img
      [src]="author.avatar ? 'http://localhost:3000' + author.avatar : 'assets/images/def_avatar.webp'"
      alt="avatar"
      class="avatar-img"
    />
  </div>
  <div class="info-2">
    <h2>{{ author.name }}</h2>
    <span class="detailed-description-author" [innerHTML]="author.description || 'Không có mô tả chi tiết.'"></span>
  </div>
</div>
<h2 class="book-of-author">Sách của {{ author.name }}</h2>
<div class="books-list" *ngIf="booksByAuthor.length > 0; else noBooks">
  <div *ngFor="let book of booksByAuthor" class="book-item">
    <div class="book-content">
      <img [src]="book.coverImage" alt="{{ book.title }}" class="book-img" />
      <div class="book-info">
        <h3>{{ book.title }}</h3>
        <p><strong>Giá:</strong> {{ book.price | currency: 'VND' }}</p>
        <p class="detailed-description" [innerHTML]="book.description || 'Không có mô tả chi tiết.'"></p>
        <button pButton label="Chi tiết" [routerLink]="['/details', book._id]"></button>
      </div>
    </div>
  </div>
</div>

<ng-template #noBooks>
  <p>Không có sách nào của tác giả này.</p>
</ng-template>