.author-details {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 150px 20px 150px;

  .info-1 {
    width: 40%;
    .avatar-img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .info-2 {
    width: 60%;
    h2 {
      margin-bottom: 10px;
      color: #BE5985;
      font-size: 36px;
    }

    p {
      font-size: 18px;

    }
  }
}
.books-list {
  padding: 20px 100px 100px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  gap: 20px;
}
.book-of-author {
  padding-left:100px;
}
.book-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

.book-item:hover {
  transform: translateY(-5px);
}

.book-content {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  gap: 15px; /* Khoảng cách giữa ảnh và nội dung */
}

.book-img {
  width: 200px; 
  height: auto;
  border-radius: 5px;
}

.book-info {
  flex: 1; 
  overflow-y: auto;

}

.detailed-description {
  white-space: pre-line;
  word-break: break-all;
  font-size: 14px;
  color: #555;
}

.detailed-description-author {
  white-space: pre-line;
  word-break: break-word;
  font-size: 18px;
}