<nav class="sidebar" [ngClass]="{ 'collapsed': !visible }">
  <ul>
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active">
        <i class="pi pi-chart-line"></i> <span>Thống Kê</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/user" routerLinkActive="active">
        <i class="pi pi-users"></i> <span>Người Dùng</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/product" routerLinkActive="active">
        <i class="pi pi-shopping-bag"></i> <span>Sản Phẩm</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/order" routerLinkActive="active">
        <i class="pi pi-shopping-cart"></i> <span>Đơn Hàng</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/author" routerLinkActive="active">
        <i class="pi pi-book"></i> <span>Tác Giả</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/category" routerLinkActive="active">
        <i class="pi pi-tags"></i> <span>Danh Mục</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/coupon" routerLinkActive="active">
        <i class="pi pi-ticket"></i> <span>Mã Giảm Giá</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/loyal-custom" routerLinkActive="active">
        <i class="pi pi-crown"></i> <span>Thành Viên</span>
      </a>
    </li>

    <li>
      <a routerLink="/admin/inventory" routerLinkActive="active">
        <i class="pi pi-box"></i> <span>Kho Hàng</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/inventory/new" routerLinkActive="active">
        <i class="pi pi-download"></i> <span>Nhập/Xuất Kho</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/warehouse" routerLinkActive="active">
        <i class="pi pi-map-marker"></i> <span>Khu vực kho</span>
      </a>
    </li>

    <li>
      <a routerLink="/admin/supplier" routerLinkActive="active">
        <i class="pi pi-user-plus"></i> <span>Nhà Cung Cấp</span>
      </a>
    </li>

  </ul>
</nav>
