<nav class="sidebar" [ngClass]="{ 'collapsed': !visible }">
  <ul>
    <li><a routerLink="/admin/dashboard" routerLinkActive="active"> <i class="pi pi-chart-bar"></i> Dashboard</a></li>
    <li><a routerLink="/admin/user"><i class="pi pi-users"></i> User</a></li>
    <li><a routerLink="/admin/product"><i class="pi pi-shopping-bag"></i> Product</a></li>
    <li><a routerLink="/admin/order"><i class="pi pi-shopping-cart"></i> Order</a></li>
    <li><a routerLink="/admin/author"><i class="pi pi-users"></i> Authors</a></li>
  </ul>
</nav>