<div class="book-cover" *ngIf="books; else loading">
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
  <div class="book-details-row">
    <div class="book-detail-1">
      <div class="book-detail-left">
      <!-- Ảnh chính -->
        <img [src]="currentCoverImage || books.coverImage" [alt]="books.title" class="cover-img" />

        <!-- Ảnh phụ -->
        <div class="book-sub-images" *ngIf="books?.images?.length">
          <!-- Hiển thị 3 ảnh đầu tiên -->
           <ng-container *ngFor="let img of (books?.images ?? []).slice(0, 3)">
            <img 
              [src]="img" 
              alt="Ảnh phụ sách" 
              class="sub-image" 
              (click)="changeCover(img)" 
            />
          </ng-container>

          <!-- Nếu có đúng 4 ảnh -->

          <ng-container *ngIf="books?.images as imgs">
            <ng-container *ngIf="imgs.length === 4">
              <img 
                [src]="books.images?.[3]!" 
                alt="Ảnh phụ sách" 
                class="sub-image" 
                (click)="changeCover(books.images?.[3]!)" 
              />
            </ng-container>
          </ng-container>

          <!-- Nếu có nhiều hơn 4 ảnh, hiển thị ảnh thứ 4 với lớp phủ -->
          <ng-container *ngIf="books?.images as imgs">
            <ng-container *ngIf="imgs.length > 4">
              <!-- Nội dung khi có hơn 4 ảnh -->
              <div class="sub-image overlay" (click)="changeCover(books.images?.[3]!)">

                <div *ngIf="extraImagesCount > 0" class="overlay-text">+{{ extraImagesCount }}</div>
              </div>
            </ng-container>
          </ng-container>
        </div>

      </div>

      <div class="book-detail-right">
        <h2>{{ books.title }}</h2>

        <div class="book-info">
          <h4 class="price">{{ books.flashsale_price | dotSeparator }} đ</h4>

          <div class="discount">
            <h5>{{ books.price | dotSeparator }} đ</h5>
            <div class="discount-badge">-{{ books.discount_percent }}%</div>
          </div>

          <p><strong>Tác giả:</strong> 
            <a *ngIf="book?.author" [routerLink]="['/author', book.author._id]" class="author-href" target="_blank">
              {{ book.author.name }}
            </a>
          </p>
          <p><strong>Năm xuất bản:</strong> {{ books.publishedDate | date:'dd/MM/yyyy' }}</p>

          <div class="book-stock">
            <p>
              Số lượng trong kho: <strong> {{ books.quantity && books.quantity > 0 ? books.quantity : 'Hết hàng' }}</strong>
            </p>
          </div>
        </div>

        <!-- Nút mua sách -->
        <div class="purchase-buttons">
          <p-toast position="top-right" key="tr"></p-toast>
          <p-button 
            pRipple 
            [rounded]="true" 
            (click)="addToCart()"
            [disabled]="!books.quantity || books.quantity === 0" 
            [label]="books.quantity && books.quantity > 0 ? 'Thêm vào giỏ hàng' : 'Hết hàng'"></p-button>
          <p-button 
            [icon]="isFavorite ? 'pi pi-heart-fill' : 'pi pi-heart'" 
            (click)="toggleFavorite()" 
            [rounded]="true" 
            [text]="true" 
            [raised]="true" 
            severity="success">
          </p-button>
        </div>
      </div>
    </div>

    <div class="book-detail-2">
      <h3>Mô tả sản phẩm</h3>
      <p class="detailed-description" [innerHTML]="books.description || 'Không có mô tả chi tiết.'"></p>
    </div>
  </div>

  <!-- Div 3: Đánh giá sản phẩm -->
  <div class="book-detail-3">
    <h3>Đánh giá sản phẩm</h3>
    <div class="rating-summary">
      
      <div class="score">{{ averageRating }}<span>/5</span></div>
        <p-rating [readonly]="true" [stars]="5" [(ngModel)]="averageRating"></p-rating>
        <div class="rating-count">({{ reviews.length }} đánh giá)</div>

      <div class="rating-breakdown" *ngIf="totalRatings > 0">
        <div class="rating-bar" *ngFor="let star of [5, 4, 3, 2, 1]">
          <span class="label">{{ star }} sao</span>
          <div class="bar">
            <div class="fill" [style.width.%]="getPercent(star)"></div>
          </div>
          <span class="percent">{{ getPercent(star) | number:'1.0-0' }}%</span>
        </div>
      </div>
  
      <!-- Nút mở dialog -->
      <div class="review-button">
        <button pButton label="Viết đánh giá" icon="pi pi-pencil"
          class="p-button-outlined p-button-danger"
          (click)="showReviewDialog = true">
        </button>
      </div>

      <!-- Dialog đánh giá -->
      <p-dialog header="VIẾT ĐÁNH GIÁ SẢN PHẨM" [(visible)]="showReviewDialog" [modal]="true" [style]="{ width: '800px' }"
      class="review-dialog">
        <ng-container *ngIf="authService.isLoggedIn(); else guestMessage">

          <div class="rating-dialog">
            <p-rating [(ngModel)]="review.rating"></p-rating>
          </div>

          <div class="review-input-name">
            <div class="p-field-name p-col-8">
              <input pInputText type="text" placeholder="Nhập tên sẽ hiển thị khi đánh giá" [(ngModel)]="review.name" />
              <p-toggleButton [(ngModel)]="review.anonymous" onLabel="Anonymous" offLabel="Username"></p-toggleButton>
            </div>

          </div>
          <div class="p-field-comment">
            <textarea pTextarea rows="4" placeholder="Nhập nhận xét của bạn về sản phẩm" [(ngModel)]="review.comment" style="width: 100%; border-radius: 10px; height: 200px;"></textarea>
          </div>
          <!-- Thêm upload hình ảnh và video -->
          <div class="p-mt-3">
            <label>Thêm hình ảnh:</label>
            <input type="file" accept="image/*" (change)="onFileSelected($event, 'image')" />

            <div *ngIf="imagePreview" class="p-mt-2">
              <img [src]="imagePreview" alt="Ảnh đánh giá" style="max-width: 200px;" />
            </div>
          </div>

          <div class="p-d-flex p-jc-between">
            <button pButton label="Hủy" class="p-button-text" (click)="showReviewDialog = false"></button>
            <button [disabled]="hasReviewed" pButton label="Gửi nhận xét" class="p-button-danger-outline" (click)="submitReview()"></button>
          </div>
        </ng-container>

        <ng-template #guestMessage>
          <div class="p-text-center" style="padding: 2rem;">
            <p class="text-danger">Chỉ có thành viên mới có thể viết nhận xét.</p>
            <a routerLink="/signin">Đăng nhập</a> hoặc <a routerLink="/signup">Đăng ký</a> để tiếp tục.
          </div>
        </ng-template>
      </p-dialog>

    </div>
    <div class="review-list">
      <p *ngIf="reviews.length === 0">Chưa có đánh giá nào.</p>
      <div *ngFor="let r of reviews" class="review-item">
        <strong>{{ r.name }}</strong>
        <p-rating [(ngModel)]="r.rating" [readonly]="true"></p-rating>
        <p>{{ r.comment }}</p>
        <small>{{ r.createdAt | date:'short' }}</small>
        <hr />
        <div *ngIf="r.image">
          <img [src]="r.image" alt="Ảnh đánh giá" style="max-width: 200px;" />
        </div>
      </div>
    </div>

  </div>

  <!-- Div 4: Sản phẩm liên quan -->
  <div class="book-detail-4" *ngIf="relatedBooks.length > 0">
    <h3>Sản phẩm liên quan</h3>
    <div class="related-products">
      <app-product-item
        *ngFor="let product of relatedBooks"
        [book]="product"
      ></app-product-item>
    </div>
  </div>
</div>

<!-- Khi đang tải dữ liệu -->
<ng-template #loading>
  <p>Đang tải thông tin sách...</p>
</ng-template>
