.coupon-page {
  background: #105191;

  .coupon-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;

    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 16px;
    justify-content: center;
  }

  .coupon-card {
    display: flex;
    align-items: stretch;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    min-height: 110px;
    width: 400px;

    .coupon-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #fff7ed;
      width: 110px;
      padding: 10px;
      border-right: 2px dashed #f59e0b;
      font-weight: 600;
      font-size: 14px;
      color: #b45309;

      img {
        width: 40px;
        height: 40px;
        margin-bottom: 6px;
      }
    }

    .coupon-right {
      flex: 1;
      padding: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        font-weight: 700;
        font-size: 16px;
        margin: 0 0 4px 0;
      }

      .condition,
      .note {
        font-size: 13px;
        margin: 0;
        color: #444;
      }

      .bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;

        .expiry {
          color: #105191;
          font-size: 13px;
          font-weight: 700;
        }

        .save-btn {
          background: #105191;
          color: white;
          border: none;
          border-radius: 6px;
          padding: 4px 10px;
          font-weight: 600;
          cursor: pointer;
          transition: background 0.2s ease;

          &:hover {
            background: #1e40af;
          }
           &:disabled {
            background-color: #ccc !important;
            color: #666;
            cursor: not-allowed;
            opacity: 0.7;
          }
        }
      }
    }
  }

  .coupon-detail {
    font-size: 14px;

    .code-row {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 10px;

      strong {
        font-size: 16px;
        font-weight: bold;
        color: #111;
      }

      .copy-btn {
        margin-left: auto;
        color: #007bff;
        font-size: 13px;
      }
    }

    .expiry {
      margin-bottom: 10px;
      color: #555;
    }

    .condition {
      h4 {
        font-size: 15px;
        margin-bottom: 5px;
      }
      ul {
        padding-left: 18px;
        margin: 0;
        li {
          list-style: disc;
          margin-bottom: 4px;
        }
      }
    }
  }

  .deal-doc-quyen {
    display: flex;
    padding: 100px;
    gap: 40px;
    img {
      border-radius: 5px;
    }
  }

  @media (max-width: 768px) {
    .coupon-list {
      grid-template-columns: 1fr;
    }
  }
  
}
