<div class="reset-password-container">
  <h2>Đặt lại mật khẩu</h2>
  
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <p-floatlabel variant="in">
        <input pInputText id="currentPassword" type="password" formControlName="currentPassword" />
        <label for="currentPassword">Mật khẩu hiện tại *</label>
      </p-floatlabel>
    </div>

    <div class="form-field">
      <p-floatlabel variant="in">
        <input
          pInputText
          id="newPassword"
          type="password"
          formControlName="newPassword"
        />
        <label for="newPassword">Mật khẩu mới *</label>
      </p-floatlabel>

      <small class="p-error"
        *ngIf="resetForm.get('newPassword')?.invalid &&
              resetForm.get('newPassword')?.touched">

        <ng-container *ngIf="resetForm.get('newPassword')?.hasError('minlength')">
          Mật khẩu phải có ít nhất 6 ký tự.
        </ng-container>

        <ng-container *ngIf="resetForm.get('newPassword')?.hasError('weakPassword')">
          ít nhất 1 chữ hoa, 1 chữ thường, 1 số và 1 ký tự đặc biệt.
        </ng-container>
      </small>
    </div>

    <div class="form-field">
      <p-floatlabel variant="in">
        <input
          pInputText
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
        />
        <label for="confirmPassword">Nhập lại mật khẩu mới *</label>
      </p-floatlabel>

      <small class="p-error"
        *ngIf="resetForm.hasError('passwordMismatch') &&
              resetForm.get('confirmPassword')?.touched">
        Mật khẩu không khớp
      </small>
    </div>

    <button type="submit" class="save-button" [disabled]="resetForm.invalid">Lưu thay đổi</button>
  </form>
</div>
<p-toast></p-toast>