<div class="reset-password-container">
  <h2>Đặt lại mật khẩu</h2>
  
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <p-floatlabel variant="in">
        <input pInputText id="currentPassword" type="password" formControlName="currentPassword" />
        <label for="currentPassword">Mật khẩu hiện tại *</label>
      </p-floatlabel>
    </div>

    <div class="form-field">
      <p-floatlabel variant="in">
        <input pInputText id="newPassword" type="password" formControlName="newPassword" autocomplete="off" />
        <label for="newPassword">Mật khẩu mới *</label>
      </p-floatlabel>
    </div>

    <div class="form-field">
      <p-floatlabel variant="in">
        <input pInputText id="confirmPassword" type="password" formControlName="confirmPassword" />
        <label for="confirmPassword">Nhập lại mật khẩu mới *</label>
      </p-floatlabel>
    </div>

    <button type="submit" class="save-button" [disabled]="resetForm.invalid">Lưu thay đổi</button>
  </form>
</div>
<p-toast></p-toast>