.container {
  background-color: #fff;
  background-size: cover;
  max-height: 600px;

  .signin-container {
    background-color: #fcfcfc;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    text-align: center;
    padding-top: 10px;
    height: 100%;
    h2 {
      color: #000;
    }
    .signin-with{
      color: #000 !important;
      a {
        color: #105191; 
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

.forgot-password {
  margin-top: -22px;
  a {
    padding-left: 170px;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    color: #105191;
  }
}
  
form {
  display: flex;
  flex-direction: column;
  line-height: 5rem;
  align-items: center;
  height: 100%;
  
}

mat-form-field {
  height: 50px;
  width: 300px;
}
::ng-deep .mat-mdc-form-field-infix {
  display: flex;
}

::ng-deep .mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

button {
  padding: 10px;
  font-weight: bold;
  background-color: #6769e8 !important;
  color: white !important;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 300px;
  
}
.btn-visibility {
  background: none !important;
  width: 50px !important;
  color: #000 !important;
}
.social-login {
  display: flex;
  .face-lgin{
    width: 150px;
    margin: 10px;
    background: transparent !important;
    border: 2px solid #3b5998 !important;
    color: #3b5998 !important;
  }

  .google-lgin{
    width: 150px;
    margin: 10px;
    background: transparent !important;
    border: 2px solid #ea4335 !important;
    color: #ea4335 !important;
  }
}
button:disabled {
  background-color: gray !important;
  color: #fff;
}

.wrong-pass {
  color: red;
}