<div class="profile-container" *ngIf="currentUser">
  <h2>Thông tin tài khoản</h2>

  <p-card class="card">
    <ng-template pTemplate="header">
      <div class="card-header">
        <p>Thông tin khách hàng</p>
      </div>
    </ng-template>

    <div class="card-body">
      <p><i class="pi pi-user"></i> <strong>Họ tên:</strong> {{ currentUser.full_name }}</p>
      <p><i class="pi pi-envelope"></i> <strong>Email:</strong> {{ currentUser.email }}</p>
      <p><i class="pi pi-id-card"></i> <strong>Username:</strong> {{ currentUser.username }}</p>
      <p><i class="pi pi-phone"></i> <strong>Điện thoại:</strong> {{ currentUser.phone_number }}</p>
      <p><i class="pi pi-calendar"></i> <strong>Ngày sinh:</strong> {{ currentUser.birth | date: 'dd/MM/yyyy' }}</p>
      <p><i class="pi pi-map-marker"></i> <strong>Địa chỉ:</strong> {{ currentUser.address }}</p>
    </div>

    <div class="card-footer" style="text-align: center; padding-top: 20px;">
      <button pButton label="Sổ địa chỉ" icon="pi pi-book" routerLink="/address-book" class="p-button "></button>
    </div>
  </p-card>
</div>