<div class="admin-authors">
  <div class="toolbar">
    <h2>Quản lý Tác giả</h2>
    <button pButton label="Thêm tác giả" icon="pi pi-plus" (click)="openAddDialog()"></button>
  </div>

  <!-- Thanh search -->
  <div class="body-bar">
    <div class="search-bar">
      <i class="pi pi-search search-icon"></i>
      <input
        type="text"
        pInputText
        placeholder="Tìm kiếm tác giả..."
        [(ngModel)]="searchText"
        (input)="filterAuthors()"
      />
    </div>
  </div>

    <!-- Dialog thêm tác giả -->
  <p-dialog header="Thêm Tác giả" [(visible)]="showAddDialog" [modal]="true" [style]="{width: '700px'}">
    <div class="p-fluid">
      <div class="p-field">
        <label for="name">Tên tác giả</label>
        <input id="name" type="text" pInputText [(ngModel)]="newAuthor.name" />
      </div>
      <div class="p-field">
        <label for="description">Mô tả</label>
        <p-editor [(ngModel)]="newAuthor.description" [style]="{ height: '320px' }" />
      </div>
      <div class="p-field">
        <label for="avatar">Avatar</label>
        <input
          id="avatar"
          type="file"
          accept="image/*"
          (change)="onImageSelected($event)"
        />
        <img
          *ngIf="previewImage"
          [src]="previewImage"
          alt="preview"
          width="100"
          class="preview-img"
          style="margin-top: 10px; border-radius: 50%;"
        />
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button pButton label="Hủy" icon="pi pi-times" class="p-button-text" (click)="showAddDialog = false"></button>
      <button pButton label="Lưu" icon="pi pi-check" (click)="addAuthor()"></button>
    </ng-template>
  </p-dialog>

  <p-dialog header="Chỉnh sửa Tác giả" [(visible)]="showEditDialog" [modal]="true" [style]="{width: '700px'}">
    <div class="p-fluid">
      <div class="p-field">
        <label for="name">Tên tác giả</label>
        <input id="name" type="text" pInputText [(ngModel)]="newAuthor.name" />
      </div>
      <div class="p-field">
        <label for="description">Mô tả</label>

        <p-editor [(ngModel)]="newAuthor.description" [style]="{ height: '320px' }" />
      </div>
      <div class="p-field">
        <label for="avatar">Avatar</label>
        <input id="avatar" type="file" accept="image/*" (change)="onImageSelected($event)" />
        <img *ngIf="previewImage" [src]="previewImage" alt="preview" width="100" class="preview-img" />
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button pButton label="Hủy" icon="pi pi-times" class="p-button-text" (click)="showEditDialog = false"></button>
      <button pButton label="Lưu" icon="pi pi-check" (click)="updateAuthor(newAuthor._id)"></button>
    </ng-template>
  </p-dialog>

  <p-table [value]="filteredAuthors" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'">
    <ng-template pTemplate="header">
      <tr>
        <th>Ảnh đại diện</th>
        <th>Tên tác giả</th>
        <th>Mô tả</th>
        <th>Ngày cập nhật</th>
        <th>Thao tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-author let-i="index">
      <tr>
        <td>

          <img
            [src]="author.avatar ? 'https://book-store-3-svnz.onrender.com' + author.avatar : 'assets/images/def_avatar.webp'"
            (error)="onImgError($event)"
            alt="avatar"
            width="50"
            height="50"
            style="border-radius: 50%; object-fit: cover;"
          />

        </td>
        <td>{{ author.name }}</td>
        <td>
          <span [innerHTML]="author.description"
            [ngStyle]="{'max-height': expandedRows[i] ? '100%' : '77px', 'overflow': expandedRows[i] ? 'visible' : 'hidden'}"
            style="white-space: normal; max-width: 600px; word-wrap: break-word; display: block;">
          </span>
          <a class="expanded" (click)="toggleExpand(i)">
            {{ expandedRows[i] ? 'Thu gọn' : 'Xem thêm' }}
          </a>
        </td>
        <td>{{ author.dateUpdate | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <button pButton icon="pi pi-pencil" 
            (click)="openEditDialog(author)" 
            class="p-button-rounded p-button-warning p-button-sm">
          </button>
          <button pButton icon="pi pi-trash" (click)="onDelete(author._id!)" class="p-button-rounded p-button-danger p-button-sm"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
