<h1 style="text-align: center; color: black; align-items: center;">Sản phẩm yêu thích</h1>
<div class="product-container" *ngIf="favoriteBooks.length > 0; else noFavorites">
  <div class="product-item" *ngFor="let book of favoriteBooks">
    <!-- Hình ảnh sản phẩm -->
    <div class="product-image">
      <img [src]="book.coverImage" [alt]="book.title" />
    </div>

    <!-- Thông tin sản phẩm -->
    <div class="product-details">
      <a [routerLink]="['/details', book.id]" style="text-decoration: none;">
        <h3>{{ book.title }}</h3>
      </a>
        <p>Tác giả: {{ book.author }}</p>
        <h4 class="price">Giá: {{ book.flashsale_price | number:'1.3-3' }} đ</h4>
        <div class="discount" >
          <h5> {{ book.price | number:'1.3-3' }} đ </h5> 
          <div class="discount-badge">-{{ book.discount_percent }}%</div>
        </div>
    </div>

    <!-- Hành động -->
    <div class="product-actions">
      <p-toast position="top-right" key="tr" />
      <p-button pRipple [rounded]="true" [raised]="true" severity="success" (click)="addToCart(book)" icon="pi pi-shopping-cart"/>
      <p-button 
        icon="pi pi-trash" 
        class="p-button-text delete-btn" 
        (click)="removeFromFavorites(book._id)"
        [rounded]="true" 
        [text]="true" 
        [raised]="true" 
        severity="success"></p-button>
    </div>
  </div>
</div>
<!-- Thông báo khi không có sản phẩm yêu thích -->
<ng-template #noFavorites>
  <div class="no-favorites">
    <p>Không có sản phẩm nào được thêm vào danh sách yêu thích. <a href="/">Về trang chủ</a></p>
  </div>
</ng-template>
