<header class="header" >
  <div class="header__top">
    <div class="container">
      <div class="header__top__left">
        <div class="logo">
          <a routerLink="/home">
            <img src="assets/images/logo.png" alt="" width="180px" height="90px">
          </a>

          <!-- 🔽 Nút menu icon -->
        <div 
          class="menu-toggle"
          (mouseenter)="showMenu = true"
          (mouseleave)="showMenu = false">
          <i class="pi pi-bars"></i>

          <!-- Mega Menu -->
          <div class="mega-menu" *ngIf="showMenu">
            <div class="mega-menu__sidebar">
              <ul>
                <li *ngFor="let cat of categories"
                  (mouseenter)="activeCategory = cat"
                  (click)="navigateToCategory(cat.slug, $event)"
                  [class.active]="activeCategory?._id === cat._id">
                  {{ cat.name }}
                </li>
              </ul>
            </div>
            <div class="mega-menu__content" *ngIf="activeCategory">
              <h4>{{ activeCategory.name }}</h4>
              <ng-container *ngIf="activeCategory.children?.length; else noChildren">
              <div class="submenu-column" *ngFor="let sub of activeCategory.children">
                <h5 (click)="navigateToCategory(sub.slug)">{{ sub.name }}</h5>
                <ul *ngIf="sub.children?.length">
                  <li *ngFor="let child of sub.children" (click)="navigateToCategory(child.slug)">
                    {{ child.name }}
                  </li>
                </ul>
              </div>
            </ng-container>

            <ng-template #noChildren>
              <p style="color: gray; font-style: italic;">Chưa có danh mục con</p>
            </ng-template>
            </div>
          </div>
        </div>
        
          <!-- search -->
          <div class="search-container" (clickOutside)="hideSuggestions()">
            <i class="pi pi-search search-icon"></i>
            <input
              type="text"
              class="search-input"
              placeholder="Tìm kiếm sách bạn cần"
              [(ngModel)]="searchTerm"
              (input)="onInputChange()"
              (keydown.enter)="onSearch()"
            />

            <ul class="suggestions-dropdown" *ngIf="suggestions.length">
              <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                <i class="pi pi-search search-icon"></i> {{ suggestion.title }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="header__top__right">
        <div class="header__top__right__cart">
          <a routerLink="/cart" class="cart-btn" mat-button>
            <i class="pi pi-shopping-cart"></i>
            <p-badge *ngIf="cartItemCount > 0" [value]="cartItemCount" severity="danger"></p-badge>
          </a>
          <a routerLink="/wishlist" class="cart-btn"  mat-button>
            <i class="pi pi-heart-fill"></i>
          </a>
        </div>

        <a routerLink="/contact" mat-button style="color:#fff">Liên Hệ</a>
        <div class="sign_up">
          <ng-container *ngIf="isLoading$ | async; else loadedState">
            <mat-spinner diameter="24"></mat-spinner> <!-- Spinner khi loading -->
          </ng-container>
        
          <ng-template #loadedState>
            <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
              <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="currentUser" style="color: #fff;">
                <span style="display: flex; align-items: center; gap: 8px;">
                  <i class="pi pi-user"></i>
                  <p style="margin: 0; font-size: 14px;">Hi, {{ currentUser.username }}!</p>
                </span>
              </button>
              <mat-menu #userMenu="matMenu">
                <button mat-menu-item routerLink="/user-info">
                  <mat-icon>person</mat-icon> Thông tin cá nhân
                </button>

                <button mat-menu-item *ngIf="userRole === 'admin'" routerLink="/admin/dashboard" target="_blank">
                  <mat-icon>admin_panel_settings</mat-icon> Quản trị
                </button>
                <button mat-menu-item (click)="signout()">
                  <mat-icon>logout</mat-icon> Đăng xuất
                </button>
              </mat-menu>
            </ng-container>
        
            <ng-template #notLoggedIn>
              <button class="auth-button" mat-button routerLink="/signin">Đăng Nhập</button>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</header>