<header class="header" >
  <div class="header__top">
    <div class="container">
      <div class="header__top__left">
        <div class="logo">
          <a routerLink="/home">
            <img src="assets/images/logo.png" alt="" width="180px" height="90px">
          </a>
          <div class="category-btn">
            <button class="btn-change-category" mat-button [matMenuTriggerFor]="category">
              <mat-icon matSuffix>category</mat-icon>
            </button>

            <mat-menu #category="matMenu">
              <button mat-menu-item (click)="navigateToCategory('sach-trong-nuoc');$event.stopPropagation()" >Sách trong nước</button>
              <button mat-menu-item (click)="navigateToCategory('vpp-dung-cu-hoc-sinh')">VPP - Dụng cụ học sinh</button>
              <button mat-menu-item (click)="navigateToCategory('do-choi')">Đồ chơi</button>
              <button mat-menu-item (click)="navigateToCategory('lam-dep')">Làm Đẹp</button>
              <button mat-menu-item (click)="navigateToCategory('manga')">Truyện tranh - Manga</button>
              <button mat-menu-item (click)="navigateToCategory('sach-tham-khao')">Sách tham khảo</button>

            </mat-menu>

          </div>
          <!-- search -->
          <div class="search-container">
            <i class="pi pi-search search-icon"></i> 
            <!-- thẻ chứa icon của html -->

            <input
              type="text"
              class="search-input"
              placeholder="Tìm kiếm sách bạn cần"
              [(ngModel)]="searchTerm"
              (keydown.enter)="onSearch()"
            />
            
          </div>    

        </div>
      </div>

      <div class="header__top__right">
        <div class="header__top__right__cart">
          <a routerLink="/cart" class="cart-btn" mat-button>
            <i class="pi pi-shopping-cart"></i>
            <p-badge *ngIf="cartItemCount > 0" [value]="cartItemCount" severity="danger"></p-badge>
          </a>
          <a routerLink="/wishlist" class="cart-btn"  mat-button>
            <i class="pi pi-heart-fill"></i>
          </a>
        </div>

        <a routerLink="/contact" mat-button style="color:#fff">Liên Hệ</a>
        <div class="sign_up">
          <ng-container *ngIf="isLoading$ | async; else loadedState">
            <mat-spinner diameter="24"></mat-spinner> <!-- Spinner khi loading -->
          </ng-container>
        
          <ng-template #loadedState>
            <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
              <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="currentUser" style="color: #fff;">
                <span style="display: flex; align-items: center; gap: 8px;">
                  <i class="pi pi-user"></i>
                  <p style="margin: 0; font-size: 14px;">Hi, {{ currentUser.username }}!</p>
                </span>
              </button>
              <mat-menu #userMenu="matMenu">
                <button mat-menu-item routerLink="/user-info">
                  <mat-icon>person</mat-icon> Thông tin cá nhân
                </button>

                <button mat-menu-item *ngIf="userRole === 'admin'" routerLink="/admin/dashboard" target="_blank">
                  <mat-icon>admin_panel_settings</mat-icon> Quản trị
                </button>
                <button mat-menu-item (click)="signout()">
                  <mat-icon>logout</mat-icon> Đăng xuất
                </button>
              </mat-menu>
            </ng-container>
        
            <ng-template #notLoggedIn>
              <button class="auth-button" mat-button routerLink="/signin">Đăng Nhập</button>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</header>