<p-toast></p-toast>
<div class="card">
  <div class="header">
    <h2>Danh sách Sản Phẩm</h2>
  </div>
  
  <div class="body-bar">
    <div class="search-bar">
      <i class="pi pi-search search-icon"></i>
      <input
        type="text"
        pInputText
        placeholder="Tìm kiếm sản phẩm..."
        [(ngModel)]="searchText"
        (input)="filterProducts()"
      />
    </div>
    
    <div class="btn-header" style="display: flex; gap:10px">
      <button
        pButton
        type="button"
        label="Xuất Excel"
        icon="pi pi-file-excel"
        class="p-button-success"
        (click)="exportProductsToExcel()"
      ></button>
      <button
        *ngIf="selectedProducts?.length"
        pButton
        type="button"
        label="Xóa đã chọn"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedProducts()"
      ></button>

      <button
        pButton
        class="btn-green"
        type="button"
        label="Thêm sản phẩm"
        icon="pi pi-plus"
        (click)="openAddProductDialog()"
      ></button>
    </div>

  </div>
  <div *ngIf="loading" class="table-loading">
    <i class="pi pi-spin pi-spinner"></i>&nbsp;
    <span>Đang tải danh sách sản phẩm...</span>
  </div>
  <p-table
    #table
    *ngIf="!loading"
    [value]="filteredProducts"
    [(selection)]="selectedProducts"
    [paginator]="true"
    [rows]="10"
    [responsiveLayout]="'scroll'"
    [dataKey]="'id'"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5,10,20]"
  >
    <!-- HEADER -->
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>

        <th>Ảnh bìa</th>

        <th pSortableColumn="title">
          <div class="title-header">
            <span>
              Tên sách
              <p-sortIcon field="title"></p-sortIcon>
            </span>
          </div>
        </th>

        <th>Tác giả</th>
        <th>Giá gốc</th>
        <th>Giá giảm</th>
        <th>Nhà cung cấp</th>
        <th>Danh mục</th>
        <th>Số lượng</th>
        <th>Đã bán</th>
        <th>Thao tác</th>
      </tr>
    </ng-template>

    <!-- BODY -->
    <ng-template pTemplate="body" let-product let-i="index">
      <tr [pSelectableRow]="product" >
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>

        <td>
          <img [src]="product.coverImage" alt="cover" width="60" />
        </td>

        <td>{{ product.title }}</td>

        <td>
          {{ product.author?.name }}
        </td>

        <td>{{ product.price | dotSeparator }}</td>

        <td>{{ product.flashsale_price | dotSeparator }}</td>

        <td>{{ product.supplierId?.name }}</td>

        <td>{{ getCategoryLabel(product.categoryName) }}</td>

        <td>{{ product.quantity }}</td>

        <td>{{ product.sold }}</td>

        <td>
          <div class="btn-table" style="gap: 10px;">
            <button
              pButton
              text
              icon="pi pi-eye"
              severity="info"
              class="p-button-text"
              (click)="openDetails(product)"
            ></button>

            <button pButton text icon="pi pi-pencil" (click)="editProduct(product)"></button>
            <button pButton text icon="pi pi-trash" severity="danger" (click)="deleteProduct(product)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>


  <p-sidebar 
    [(visible)]="displaySidebar" 
    position="right" 
    [baseZIndex]="10000" 
    [modal]="true"
    [style]="{width: '600px'}"
    styleClass="product-sidebar">

    <h2>{{ selectedProduct?.title }}</h2>

    <img 
      *ngIf="selectedProduct?.coverImage"
      [src]="selectedProduct?.coverImage"
      width="150" 
      style="border-radius:8px; margin-bottom:10px"
    />

    <h3>Tác giả:</h3>
    <p>{{ selectedProduct?.author?.name }}</p>

    <h3>Mô tả:</h3>
    <div [innerHTML]="selectedProduct?.description" class="description" ></div>

    <h3>Ảnh phụ:</h3>
    <img 
      *ngFor="let img of selectedProduct?.images"
      [src]="img"
      width="80"
      style="margin:3px; border-radius:4px"
    />

    <h3>Giá gốc:</h3>
    <p>{{ selectedProduct?.price | dotSeparator }}</p>

    <h3>Giá giảm:</h3>
    <p>{{ selectedProduct?.flashsale_price | dotSeparator }}</p>

    <h3>Giảm (%):</h3>
    <p>{{ selectedProduct?.discount_percent }}%</p>

    <h3>Ngày phát hành:</h3>
    <p>{{ selectedProduct?.publishedDate | date: 'dd/MM/yyyy' }}</p>

    <h3>Danh mục:</h3>
    <p>{{ getCategoryLabel(selectedProduct?.categoryName) }}</p>

    <h3>Nhà cung cấp:</h3>
    <p>{{ selectedProduct?.supplierId?.name }}</p>

    <h3>Tồn kho theo chi nhánh:</h3>
    <p>
      <ng-container *ngIf="selectedProduct?.warehouseStocks?.length > 0; else noWarehouse">
        <div *ngFor="let stock of selectedProduct?.warehouseStocks">
          <strong>{{ stock.name }}</strong> ({{ stock.region }}): {{ stock.quantity }}
        </div>
      </ng-container>
      <ng-template #noWarehouse>
        <span style="color: gray;">Không có dữ liệu</span>
      </ng-template>
    </p>

    <h4>Tồn kho theo cửa hàng:</h4>
    <p>
      <ng-container *ngIf="selectedProduct?.storeStocks?.length > 0; else noStore">
        <div *ngFor="let s of selectedProduct?.storeStocks">
          <strong>{{ s.name }}</strong> ({{ s.city }}): {{ s.quantity }}
        </div>
      </ng-container>
      <ng-template #noStore>
        <span style="color: rgb(143, 138, 138);">Không có dữ liệu</span>
      </ng-template>
    </p>

  </p-sidebar>
</div>
<p-dialog [header]="isEditMode ? 'Sửa sản phẩm' : 'Thêm sản phẩm'" [(visible)]="displayAddDialog" [modal]="true" [closable]="true" [style]="{ width: '600px' }">
  <div class="p-fluid">
    <div class="p-field">
      <label>Tên sách <span style="color: red">*</span></label> 
      <input pInputText type="text" [(ngModel)]="productForm.title" 
             [class.ng-invalid]="submitted && !productForm.title" />
      <small class="p-error" *ngIf="submitted && !productForm.title">Tên sách là bắt buộc.</small>
    </div>

    <div class="p-field">
      <label>Tác giả <span style="color: red">*</span></label>
      <p-dropdown [options]="authors" optionLabel="name" optionValue="_id" 
                  [(ngModel)]="productForm.authorId" placeholder="Chọn tác giả"
                  [class.ng-invalid]="submitted && !productForm.authorId">
      </p-dropdown>
      <small class="p-error" *ngIf="submitted && !productForm.authorId">Vui lòng chọn tác giả.</small>
    </div>

    <div class="p-field">
      <label>Mô tả</label>
      <p-editor [(ngModel)]="productForm.description" [style]="{ height: '200px' }"></p-editor>
    </div>

    <div class="p-grid">
      <div class="p-col p-field">
        <label>Giá gốc <span style="color: red">*</span></label>
        <input
          pInputText
          type="number"
          [(ngModel)]="productForm.price"
          (ngModelChange)="calculateFlashSalePrice()"
          min="0"
        />
      </div>
      
      <div class="p-col p-field">
        <label>Giảm (%)</label>
        <input
          pInputText
          type="number"
          [(ngModel)]="productForm.discount_percent"
          (ngModelChange)="calculateFlashSalePrice()"
          min="0"
          max="100"
        />
        <small class="p-error" *ngIf="productForm.discount_percent > 100">
          Phần trăm giảm không được vượt quá 100%.
        </small>
      </div>
      
      <div class="p-col p-field">
        <label>Giá giảm</label>
        <input
          pInputText
          type="number"
          [(ngModel)]="productForm.flashsale_price"
          readonly
          style="background-color: #f8f9fa;"
        />
      </div>
    </div>
    <small class="p-error" *ngIf="submitted && (productForm.flashsale_price > productForm.price)" style="display: block; margin-top: -1rem; margin-bottom: 1rem;">
      Giá giảm không được lớn hơn giá gốc.
    </small>

    <div class="p-field">
      <label>Ngày phát hành</label>
      <input
        pInputText
        type="date"
        [ngModel]="formattedPublishedDate"
        (ngModelChange)="onDateChange($event)"
      />
    </div>

    <div class="p-field">
      <label for="category">Danh mục <span style="color: red">*</span></label>
      <p-dropdown
        [options]="categories"
        optionLabel="label"
        optionValue="value"
        [(ngModel)]="productForm.categoryId"
        placeholder="Chọn danh mục"
      ></p-dropdown>
      <small class="p-error" *ngIf="submitted && !productForm.categoryName">Vui lòng chọn danh mục.</small>
    </div>

    <div class="p-field">
      <label>Nhà cung cấp <span style="color: red">*</span></label>
      <p-dropdown
        [options]="suppliers"
        optionLabel="name"
        optionValue="_id" 
        [(ngModel)]="productForm.supplierId"
        placeholder="Chọn nhà cung cấp"
        [class.ng-invalid]="submitted && !productForm.supplierId">
      </p-dropdown>
      <small class="p-error" *ngIf="submitted && !productForm.supplierId">Vui lòng chọn nhà cung cấp.</small>
    </div>

    <div class="p-field">
      <label>Số lượng</label>
      <input pInputText type="number" [(ngModel)]="productForm.quantity" />
    </div>

    <div class="p-field">
      <label>Ảnh bìa <span style="color: red">*</span></label>
      <input type="file" (change)="onImageSelected($event)" [class.ng-invalid]="submitted && !productForm.coverImage" />
      <div *ngIf="productForm.coverImage" class="mt-2">
        <img [src]="productForm.coverImage" alt="preview" width="100" class="preview-img" style="border-radius: 4px; border: 1px solid #ccc;" />
      </div>
      <small class="p-error" *ngIf="submitted && !productForm.coverImage">Ảnh bìa là bắt buộc.</small>
    </div>
  </div>

  <div class="p-field">
    <label>Ảnh phụ</label>
    <input type="file" multiple (change)="onAdditionalImagesSelected($event)" />
    <div class="image-preview-container">
      <img
        *ngFor="let img of productForm.images"
        [src]="img"
        alt="preview"
        width="100"
        class="preview-img"
      />
    </div>
  </div>

  <div class="p-dialog-footer">
    <button pButton label="Hủy" icon="pi pi-times" class="p-button-text" (click)="displayAddDialog=false"></button>
    <button pButton label="Lưu sản phẩm" icon="pi pi-check" (click)="saveProduct()"></button>
  </div>
</p-dialog>
