<p-toast></p-toast>
<div class="card">
  <div class="header">
    <h2>Danh sách Sản Phẩm</h2>
  </div>
  
  <div class="body-bar">
    <div class="search-bar">
      <i class="pi pi-search search-icon"></i>
      <input
        type="text"
        pInputText
        placeholder="Tìm kiếm sản phẩm..."
        [(ngModel)]="searchText"
        (input)="filterProducts()"
      />
    </div>
    <div class="btn-header" style="display: flex; gap:10px">
      <button
      *ngIf="selectedProducts?.length"
      pButton
      type="button"
      label="Xóa đã chọn"
      icon="pi pi-trash"
      class="p-button-danger"
      (click)="deleteSelectedProducts()"
    ></button>
    <button pButton class="btn-green" type="button" label="Thêm sản phẩm" icon="pi pi-plus" (click)="openAddProductDialog()"></button>
    </div>
  </div>
  <!-- <p-progressSpinner *ngIf="loading"></p-progressSpinner> -->
  <p-table
    #table 
    [value]="filteredProducts"
    [(selection)]="selectedProducts"
    [paginator]="true"
    [rows]="10"
    [responsiveLayout]="'scroll'"
    [dataKey]="'id'"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5,10,20]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Ảnh bìa</th>
        <th pSortableColumn="title">
          <div class="title-header">
            <span>Tên sách <p-sortIcon field="title"></p-sortIcon></span>
          </div>
        </th>
        <th>Tác giả</th>
        <th>Mô tả</th>
        <th>Giá gốc</th>
        <th>Giá giảm</th>
        <th>Giảm (%)</th>
        <th>Ngày phát hành</th>
        <th>Danh mục</th>
        <th>Nhà cung cấp</th>
        <th>Số lượng</th>
        <th>Tồn kho theo chi nhánh kho</th>
        <th>Tồn kho theo cửa hàng</th>
        <th>Đã bán</th>
        <th>Ảnh phụ</th>
        <th>Thao tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-i="index">
      <tr [pSelectableRow]="product">
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td><img [src]="product.coverImage" alt="cover" width="60" /></td>
        <td>{{ product.title }}</td>
        <td>{{ product.author?.name || 'Không rõ' }}</td>
        <td>
          <span [innerHTML]="product.description"
            [ngStyle]="{'max-height': expandedRows[i] ? '100%' : '82px', 'overflow': expandedRows[i] ? 'visible' : 'hidden'}"
            style="white-space: normal; max-width: 300px; word-wrap: break-word; display: block;">
          </span>
          <a class="expanded" (click)="toggleExpand(i)">
            <strong>{{ expandedRows[i] ? 'Thu gọn' : 'Xem thêm' }}</strong>
          </a>
        </td>
        <td>{{ product.price | dotSeparator }}</td>
        <td>{{ product.flashsale_price | dotSeparator }}</td>
        <td>{{ product.discount_percent }}%</td>
        <td>{{ product.publishedDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ getCategoryLabel(product.categoryName) }}</td>
        <td>{{ product.supplierId?.name || 'Không có' }}</td>
        <td>{{ product.quantity }}</td>
        <td>
  <ng-container *ngIf="product.warehouseStocks?.length > 0; else noWarehouse">
    <div *ngFor="let stock of product.warehouseStocks">
      <strong>{{ stock.name }}</strong> ({{ stock.region }}): {{ stock.quantity }}
    </div>
  </ng-container>
  <ng-template #noWarehouse>
    <span style="color: gray;">Không có dữ liệu</span>
  </ng-template>
</td>

<td>
  <ng-container *ngIf="product.storeStocks?.length > 0; else noStore">
    <div *ngFor="let s of product.storeStocks">
      <strong>{{ s.name }}</strong> ({{ s.city }}): {{ s.quantity }}
    </div>
  </ng-container>
  <ng-template #noStore>
    <span style="color: gray;">Không có dữ liệu</span>
  </ng-template>
</td>

        <td>{{ product.sold }}</td>
        <td>
          <ng-container *ngIf="product.images?.length > 0; else noImages">
            <img
              *ngFor="let img of product.images"
              [src]="img"
              alt="Ảnh phụ"
              width="40"
              height="40"
              style="margin-right: 4px; object-fit: cover; border-radius: 4px; border: 1px solid #ccc"
            />
          </ng-container>

          <ng-template #noImages>
            <span style="color: gray; font-style: italic;">Không có ảnh</span>
          </ng-template>
        </td>
        <td>
          <div class="btn-table" style=" gap:10px">
            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm" (click)="editProduct(product)"></button>
          <button pButton type="button" icon="pi pi-trash" (click)="deleteProduct(product)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [header]="isEditMode ? 'Sửa sản phẩm' : 'Thêm sản phẩm'" [(visible)]="displayAddDialog" [modal]="true" [closable]="true" [style]="{ width: '600px' }">
  <div class="p-fluid">
    <div class="p-field">
      <label>Tên sách</label> 
      <input pInputText type="text" [(ngModel)]="productForm.title" />
    </div>
    <div class="p-field">
      <label for="author">Tác giả</label>
      <p-dropdown 
        [options]="authors" 
        optionLabel="name" 
        optionValue="_id" 
        [(ngModel)]="productForm.authorId"
        placeholder="Chọn tác giả"
        (onChange)="onAuthorSelect($event)">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label>Mô tả</label>

      <p-editor [(ngModel)]="productForm.description" [style]="{ height: '320px' }" />
    </div>
    <div class="p-field">
      <label>Giá gốc</label>
      <input pInputText type="number" [(ngModel)]="productForm.price" />
    </div>
    <div class="p-field">
      <label>Giá giảm</label>
      <input pInputText type="number" [(ngModel)]="productForm.flashsale_price" />
    </div>
    <div class="p-field">
      <label>Giảm (%)</label>
      <input pInputText type="number" [(ngModel)]="productForm.discount_percent" />
    </div>
    <div class="p-field">
      <label>Ngày phát hành</label>
      <input
        pInputText
        type="date"
        [ngModel]="formattedPublishedDate"
        (ngModelChange)="onDateChange($event)"
      />
    </div>
    <div class="p-field">
      <label for="category">Danh mục</label>
      <p-dropdown 
        [options]="categories" 
        optionLabel="label" 
        optionValue="value"
        [(ngModel)]="productForm.categoryName"
        placeholder="Chọn danh mục">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label>Nhà cung cấp</label>
      <p-dropdown
        [options]="suppliers"
        optionLabel="name"
        optionValue="_id"
        [(ngModel)]="productForm.supplierId"
        placeholder="Chọn nhà cung cấp">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label>Số lượng</label>
      <input pInputText type="text" [(ngModel)]="productForm.quantity" />
    </div>
    <div class="p-field">
      <label>Ảnh phụ</label>
      <input type="file" multiple (change)="onAdditionalImagesSelected($event)" />
      <div class="image-preview-container">
        <img
          *ngFor="let img of productForm.images"
          [src]="img"
          alt="preview"
          width="100"
          class="preview-img"
        />
      </div>
    </div>
    <div class="p-field">
      <label>Ảnh bìa</label>
      <input type="file" (change)="onImageSelected($event)" />
      <img *ngIf="productForm.coverImage" [src]="productForm.coverImage" alt="preview" width="100" class="preview-img" />
    </div>
  </div>
  <button pButton label="Lưu" (click)="saveProduct()" icon="pi pi-check"></button>
</p-dialog>
