<ng-container class="container-ads">
  <p-toast position="top-right" key="tr"></p-toast>

  <div class="content-ads-1">
    <img class="img-ads" src="assets/images/thang5.png" alt="">
    <div class="content-ads-2">
      <a routerLink="/">
        <img src="assets/images/ads_2.png" alt="">
      </a>
      <a href="">
        <img class="img-ads" src="assets/images/coupon.webp" alt="">
      </a>
    </div>
  </div>

  <div class="container-flashsale">
    <div class="flash-sale-countdown">
      <h1>Tủ sách nhỏ của Pam</h1>
    </div>    
    
    <div class="flashsale-col">
      <div class="flashsale-col-1">
        <p-carousel [value]="books" [numVisible]="5" [numScroll]="5" [circular]="false" [responsiveOptions]="responsiveOptions">
          <ng-template let-book pTemplate="item">
            <app-product-item [book]="book" (showToast)="handleToast($event)"></app-product-item>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>

  <p-divider class="custom-divider"></p-divider>

  <div class="featured-books">
    <div class="featured-title">
      <h1>Tủ sách nổi bật</h1>
    </div> 
    <div class="featured-body">
      <p-carousel *ngIf="featuredBooks.length > 0" [value]="featuredBooks" [numVisible]="5" [numScroll]="5" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template let-book pTemplate="item">
          <app-product-item [book]="book" (showToast)="handleToast($event)"></app-product-item>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  
  <p-divider class="custom-divider"></p-divider>
  
  <div class="new-release-books">
      <div class="new-release-title">
        <h1>Sách mới ra</h1>
      </div> 
      <div class="new-release-body">
        <p-carousel *ngIf="newReleaseBooks.length > 0" [value]="newReleaseBooks" [numVisible]="5" [numScroll]="5" [circular]="false" [responsiveOptions]="responsiveOptions">
          <ng-template let-book pTemplate="item">
            <app-product-item [book]="book" (showToast)="handleToast($event)"></app-product-item>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  
  <p-divider class="custom-divider"></p-divider>

  <div class="incomming-release-books">
    <div class="incomming-release-title">
      <h1>Sách sắp ra mắt</h1>
    </div> 
    <div class="incomming-release-body">
      <p-carousel *ngIf="incommingReleaseBooks.length > 0" [value]="incommingReleaseBooks" [numVisible]="5" [numScroll]="5" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template let-book pTemplate="item">
          <app-product-item [book]="book" (showToast)="handleToast($event)"></app-product-item>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  
  <p-divider class="custom-divider"></p-divider>

  <div class="newest-col">
    <p-tabs value="0" >
      <p-tablist>
          <p-tab value="0">Sách Tham Khảo</p-tab>
          <p-tab value="1">Sách Trong Nước</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <p-carousel [value]="sachThamKhao" [numVisible]="5" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
            <ng-template let-book pTemplate="item">
              <app-product-item [book]="book" (showToast)="handleToast($event)"></app-product-item>
            </ng-template>
          </p-carousel>
        </p-tabpanel>
        <p-tabpanel value="1">
          <p-carousel [value]="sachTrongNuoc" [numVisible]="5" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
            <ng-template let-book pTemplate="item">
              <app-product-item [book]="book"></app-product-item>
            </ng-template>
          </p-carousel>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
  <p-divider class="custom-divider"></p-divider>
  <div class="introduce-bookstore">
    <div class="intro-1">
      <h1>Về chúng tôi Pam Tech</h1>
      <h4>Sách là thế giới vô hạn mở ra tầm nhìn của con người</h4>
      <p class="pamtech-description">Chào mừng bạn đến với Pam Tech – nơi những cuốn sách hay gặp gỡ người yêu tri thức! Tại đây, bạn không chỉ tìm thấy sách, mà còn tìm thấy cảm hứng, sự sáng tạo và cả những món quà học tập dễ thương cho mọi lứa tuổi.
      Pam Tech là nhà sách hiện đại kết hợp giữa công nghệ và tri thức, mang đến trải nghiệm mua sắm sách tiện lợi, nhanh chóng và đáng tin cậy. Chúng tôi tự hào cung cấp hàng ngàn đầu sách đa dạng cùng các sản phẩm học tập, văn phòng phẩm và đồ chơi giáo dục chất lượng cao.
      </p>
        <a class="more"> Xem thêm</a>
      </div>
    <div class="intro-2">
      <img src="assets/images/aboutUs.jpg" alt="">
    </div>
  </div>

  <p-divider class="custom-divider"></p-divider>
  <!-- các tác giả -->
  <div class="author-title">
    <h1>Các tác giả nổi bật</h1>
  </div>

  <p-carousel 
    [value]="authors" 
    [numVisible]="6" 
    [numScroll]="1" 
    [circular]="true" 
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
    styleClass="custom-carousel"
  >
    <ng-template let-author pTemplate="item">
      <div class="author-card">
        <a [routerLink]="['/author', author._id]" class="author-item">
          <img 
            *ngIf="author.avatar" 
            [src]="'http://localhost:3000' + author.avatar" 
            alt="{{ author.name }}"
            class="author-avatar"
          />
        </a>
        <a [routerLink]="['/author', author._id]" class="author-name-link">
          <h4 class="author-name">{{ author.name }}</h4>
        </a>
      </div>
    </ng-template>
  </p-carousel>

  <p-divider class="custom-divider"></p-divider>

    <!-- blog -->
  <div class="blog-section">
    <div class="blog-header">
      <h2>Blog của Pam</h2>
    </div>
  
    <div class="blog-container">
      <div class="blog-card" *ngFor="let post of blogPosts">
        <div class="blog-meta">
          <i class="pi pi-calendar"></i>: {{ post.date }}  
          <span>Đăng bởi: <b>{{ post.author }}</b></span>
        </div>
        <h3 class="blog-title">{{ post.title }}</h3>
        <p class="blog-summary">{{ post.summary }}</p>
      </div>
    </div>
  </div>

  <!-- benefit -->
  <div class="benefits-container" >
    <div class="benefit-item">
      <i class="pi pi-truck"></i>
      <div>
        <h4>MIỄN PHÍ VẬN CHUYỂN</h4>
        <p>Đơn hàng từ 500,000VND</p>
      </div>
    </div>
  
    <div class="benefit-item">
      <i class="pi pi-refresh"></i>
      <div>
        <h4>DỄ DÀNG TIỆN LỢI</h4>
        <p>Đặt sách theo yêu cầu</p>
      </div>
    </div>
  
    <div class="benefit-item">
      <i class="pi pi-gift"></i>
      <div>
        <h4>TÍCH ĐIỂM ĐỔI QUÀ</h4>
        <p>Nhận nhiều ưu đãi</p>
      </div>
    </div>
  
    <div class="benefit-item">
      <i class="pi pi-star"></i>
      <div>
        <h4>DỊCH VỤ 5 SAO</h4>
        <p>150+ ratings từ Facebook</p>
      </div>
    </div>
  </div>
  
</ng-container>


