<ng-container class="container-ads">
  <p-toast position="top-right" key="tr"></p-toast>

  <div class="content-ads-1">
    <img class="img-ads" src="assets/images/ads_1.jpg" alt="">
    <div class="content-ads-2">
      <a routerLink="/">
        <img src="assets/images/ads_2.png" alt="">
      </a>
      <a href="">
        <img class="img-ads" src="assets/images/ads_3.jpg" alt="">
      </a>
    </div>
  </div>

  <div class="container-flashsale">
    <div class="flash-sale-countdown">
      <h2>Flash Sale</h2>
      <p *ngIf="!saleActive">Bắt đầu sau:</p>
      <p *ngIf=" saleActive">Kết thúc sau:</p>
    
      <div class="countdown-timer">
        <span class="time">
          {{ days }}<small>Days</small>
        </span>
        <span class="time">
          {{ hours }}<small>Hours</small>
        </span>
        <span class="time">
          {{ minutes }}<small>Minutes</small>
        </span>
        <span class="time">
          {{ seconds }}<small>Seconds</small>
        </span>
      </div>
    </div>    
    
    <div class="flashsale-col">
      <div class="flashsale-col-1">
        <p-carousel [value]="books" [numVisible]="5" [numScroll]="5" [circular]="false" [responsiveOptions]="responsiveOptions">
          <ng-template let-book pTemplate="item">
            <app-product-item [book]="book"></app-product-item>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>

  <div class="newest-col">
    <p-tabs value="0" >
      <p-tablist>
          <!-- <p-tab value="0">Sách Mới Về</p-tab> -->
          <p-tab value="0">Sách Tham Khảo</p-tab>
          <p-tab value="1">Sách Trong Nước</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <p-carousel [value]="sachThamKhao" [numVisible]="5" [numScroll]="2" [circular]="false" [responsiveOptions]="responsiveOptions">
            <ng-template let-book pTemplate="item">
              <app-product-item [book]="book" (showToast)="handleToast($event)"></app-product-item>
            </ng-template>
          </p-carousel>
        </p-tabpanel>
        <p-tabpanel value="1">
          <p-carousel [value]="sachTrongNuoc" [numVisible]="4" [numScroll]="2" [circular]="false" [responsiveOptions]="responsiveOptions">
            <ng-template let-book pTemplate="item">
              <app-product-item [book]="book"></app-product-item>
            </ng-template>
          </p-carousel>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
  <!-- blog -->
  <div class="blog-section">
    <div class="blog-header">
      <h2>BLOG</h2>
    </div>
  
    <div class="blog-container">
      <div class="blog-card" *ngFor="let post of blogPosts">
        <div class="blog-meta">
          <i class="pi pi-calendar"></i>: {{ post.date }}  
          <span>Đăng bởi: <b>{{ post.author }}</b></span>
        </div>
        <h3 class="blog-title">{{ post.title }}</h3>
        <p class="blog-summary">{{ post.summary }}</p>
      </div>
    </div>
  </div>
  
  <!-- benefit -->
  <div class="benefits-container" >
    <div class="benefit-item">
      <i class="pi pi-truck"></i>
      <div>
        <h4>MIỄN PHÍ VẬN CHUYỂN</h4>
        <p>Đơn hàng từ 500,000VND</p>
      </div>
    </div>
  
    <div class="benefit-item">
      <i class="pi pi-refresh"></i>
      <div>
        <h4>DỄ DÀNG TIỆN LỢI</h4>
        <p>Đặt sách theo yêu cầu</p>
      </div>
    </div>
  
    <div class="benefit-item">
      <i class="pi pi-gift"></i>
      <div>
        <h4>TÍCH ĐIỂM ĐỔI QUÀ</h4>
        <p>Nhận nhiều ưu đãi</p>
      </div>
    </div>
  
    <div class="benefit-item">
      <i class="pi pi-star"></i>
      <div>
        <h4>DỊCH VỤ 5 SAO</h4>
        <p>150+ ratings từ Facebook</p>
      </div>
    </div>
  </div>
  
</ng-container>


