<!-- Danh sách địa chỉ -->
<div class="address">
  <div class="head-address">
    <h2>Danh sách địa chỉ</h2>
    <button 
      pButton 
      type="button" 
      label="Quay lại trang tài khoản" 
      routerLink="/user-info">
    </button>
  </div>

  <ul>
    <li *ngFor="let address of user.address; let i = index">
      <div class="container" style="display: flex; justify-content: space-between;">
        <div class="address-item">
          <p-radioButton 
            name="defaultAddress" 
            [value]="i" 
            [(ngModel)]="defaultAddressIndex" 
            (onClick)="setDefaultAddress(i)">
          </p-radioButton> 
  
          <!-- hiển thị fullName và phoneNumber từ mỗi address -->
          <span class="address-fullname">{{ address.fullName }}</span>
          <div class="separated-btn-address-book"></div>
          <span class="address-phone">0{{ address.phoneNumber }}</span>
          <span *ngIf="address.isDefault" class="default-address">
            Địa chỉ thanh toán mặc định
          </span>
          
        </div>
        <div class="address-actions">
          <button pButton type="button" icon="pi pi-pencil" [outlined]="true" [rounded]="true" (click)="onEditAddress(i)"></button>
          <button pButton type="button" icon="pi pi-trash"  [outlined]="true" [rounded]="true" severity="danger" (click)="onDeleteAddress(i)"></button>
        </div>
      </div>
      <div class="address-value"><h3>Địa chỉ: {{ address.value }}</h3></div>
    </li>
  </ul>

  <div class="add-address">
    <button 
    pButton 
    type="button" 
    label="Thêm địa chỉ" 
    icon="pi pi-plus" 
    (click)="openAddAddressDialog()">
  </button>
  </div>
</div>

<p-dialog header="Thêm địa chỉ" [(visible)]="displayAddAddressDialog">
  <div class="p-fluid">
    <label for="fullName">Họ tên:</label>
    <input type="text" id="fullName" [(ngModel)]="fullName" />

    <label for="phoneNumber">Số điện thoại:</label>
    <input type="text" id="phoneNumber" [(ngModel)]="phoneNumber" />
    
    <label for="newAddress">Địa chỉ:</label>
    <input type="text" id="newAddress" [(ngModel)]="newAddress" />

    <label for="countries">Quốc gia:</label>
    <p-select [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" placeholder="---" class="w-full md:w-56" />

    <div class="country-select">
      <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="Name" placeholder="Tỉnh Thành" class="w-full md:w-56" (onChange)="onCityChange()" />

      <p-select [options]="districts" [(ngModel)]="selectedDistrict" optionLabel="Name" placeholder="Quận Huyện" class="w-full md:w-56" (onChange)="onDistrictChange()" />

      <p-select [options]="wards" [(ngModel)]="selectedWard" optionLabel="Name" placeholder="Phường Xã" class="w-full md:w-56" />
    </div>
  </div>
  <div class="dialog-buttons">
    <button pButton label="Lưu" icon="pi pi-check" (click)="addAddress()"></button>
    <button pButton label="Hủy" icon="pi pi-times" (click)="displayAddAddressDialog = false"></button>
  </div>
</p-dialog>
<p-dialog header="Chỉnh sửa địa chỉ" [(visible)]="displayEditAddressDialog" [modal]="true" [closable]="false">
  <div class="p-fluid">
    <label for="editFullName">Họ tên:</label>
    <input type="text" id="editFullName" [(ngModel)]="editAddressData.fullName" />

    <label for="editPhoneNumber">Số điện thoại:</label>
    <input type="number" id="editPhoneNumber" [(ngModel)]="editAddressData.phoneNumber" />

    <label for="editValue">Địa chỉ:</label>
    <input type="text" id="editValue" [(ngModel)]="editAddressData.value" />

    <label for="countries">Quốc gia:</label>
    <p-select [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" placeholder="---" class="w-full md:w-56" />

    <div class="country-select">
      <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="Name" placeholder="Tỉnh Thành" class="w-full md:w-56" (onChange)="onCityChange()" />

      <p-select [options]="districts" [(ngModel)]="selectedDistrict" optionLabel="Name" placeholder="Quận Huyện" class="w-full md:w-56" (onChange)="onDistrictChange()" />

      <p-select [options]="wards" [(ngModel)]="selectedWard" optionLabel="Name" placeholder="Phường Xã" class="w-full md:w-56" />
    </div>

    <div class="p-field-checkbox">
      <p-checkbox [(ngModel)]="editAddressData.isDefault" inputId="editIsDefault"></p-checkbox>
      <label for="editIsDefault">Đặt làm địa chỉ mặc định</label>
    </div>
  </div>

  <div class="dialog-buttons">
    <button pButton label="Lưu" icon="pi pi-check" (click)="onSaveEditedAddress()"></button>
    <button pButton label="Hủy" icon="pi pi-times" (click)="onCancelEditAddress()"></button>
  </div>
</p-dialog>
<p-toast></p-toast>
