:host {
  display: block;
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  padding-left: 1.25rem;
  margin-bottom: 1.5rem;

  li {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: #f8f9fa;
    list-style-type: disc;
    list-style: none;
  }
}

button[pButton] {
  margin-top: 1rem;
}

::ng-deep .p-dialog .p-dialog-header {
  background: #f1f3f5;
  font-weight: bold;
}

.p-fluid {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 1rem;
}
.add-address {
  display: flex;
  label {
    width: 20%;
  }
  p-dropdown {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

label {
  font-weight: 500;
  align-items: center;
}

input {
  padding: 0.5rem;
}
.head-address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  h3 {
    font-weight: 600;
    color: #495057;
    text-align: center;
    flex: 1;
    margin: 0;
  }
  button {
    white-space: nowrap;
    background-color: #BE5985;
    border-radius: 5px;
    border: none;
  }
}
.add-address {
  button {
    background-color: #BE5985;
    border-radius: 5px;
    border: none;
  }
}
.p-radiobutton-icon {
   background-color: #BE5985;
}

p-dialog {
  max-width: 600px;
  border-radius: 8px;
}

.p-dialog-header {
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
}

.p-dialog-body {
  padding: 20px;
  background-color: #f7f7f7;
}

::ng-deep .p-dialog {
  .p-dialog-content {
    padding-top: 20px !important;
  }
}
.p-fluid input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.p-fluid input:focus {
  border-color: #BE5985;
  outline: none;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}

.dialog-buttons button {
  width: 100px;
  border-radius: 5px;
}

.dialog-buttons button.p-button {
  padding: 8px 16px;
}
.address-actions button {
  margin-left: 8px;
}

.address-item {
  display: flex;
  font-weight: bold;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; // Khoảng cách giữa các field

  .default-address{
    display: flex;
    padding: 3px 8px;
    margin-left: 16px;
    background-color: rgba(244, 36, 164, 0.2);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #BE5985;
    font-size: 12px;
  }
  .separated-btn-address-book {
    border-right: 2px solid #ddd;
    height: 18px;
    margin: 0 8px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
.address-value {
  font-size: 13px;
  color: #495057;
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  padding-left: 2rem;
}
