/* Căn giữa tiêu đề danh mục */
h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Grid hiển thị sản phẩm */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Tránh giãn rộng */
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1200px; /* Giới hạn chiều rộng tối đa */
    margin: 0 auto; /* Căn giữa container */
}

/* Card sản phẩm */
.product-item {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    h4 {
        color: red;
    }
    .discount {
        display: flex;
        .discount-badge {
          margin: auto;
          background-color: #d32f2f; 
          color: #fff;            
          border-radius: 4px;    
          font-weight: bold;
          font-size: 13px;
          display: inline-block;
          text-align: center;
          width: 15%;
          height: 16px;
        }
    }
}

.product-item:hover {
    transform: scale(1.05);
}

/* Ảnh sản phẩm */
.product-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/* Tiêu đề sách */
.product-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #444;
}

/* Thông tin tác giả */
.product-item p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.product-item a {
    text-decoration: none; 
    text-align: left; 
    color: #000
}

/* Giá sản phẩm */
.product-item p:last-child {
    font-size: 16px;
    font-weight: bold;
    color: #e44d26;
}

/* Khi không có sản phẩm */
.no-products {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    color: #888;
    margin-top: 50px;
}
