.category-layout {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.category__title {
    text-align: center;
}
/* Sidebar filter */
.sidebar {
  margin-left: -167px;
  width: 250px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;

  h4 {
    margin: 15px 0 8px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      cursor: pointer;
      padding: 6px 0;
      color: #555;
      transition: color 0.2s;

      &:hover {
        color: #105191;
        font-weight: 500;
      }
    }
  }

  .category-tree ul {
    padding-left: 15px;
    border-left: 1px dashed #ccc;
    margin-top: 5px;
  }
  .cate-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cate-name {
    cursor: pointer;
  }

  .expand-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }

}

.category-tree li.active > .cate-row .cate-name {
  font-weight: bold;
  color: #105191;
  padding-left: 4px;
}

.category-tree li.active {
  background: #f0f8ff; /* màu nhạt để dễ nhìn */
  border-left: 3px solid #105191;
}

/* Products */
.category-products {
  flex: 1;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}