<p-toast key="tr" position="top-right"></p-toast>
<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
<h2 class="category__title">Sản phẩm thuộc danh mục: {{ displayName }}</h2>

<div class="category-layout">
  <!-- Sidebar lọc -->
  <aside class="sidebar">
    <!-- Cây danh mục -->
    <h4>Danh mục</h4>
    <ul class="category-tree">
      <ng-container *ngFor="let cat of categoriesTree">
        <li [class.active]="cat.slug === activeCategorySlug">
          <div class="cate-row">
            <span class="cate-name" (click)="navigateToCategory(cat.slug)">
              {{ cat.name }}
            </span>
          </div>

          <!-- Luôn hiển thị children khi active hoặc khi là ancestor -->
          <ul *ngIf="isExpanded(cat)">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: cat.children }"></ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>

    <ng-template #recursiveList let-children>
      <ng-container *ngFor="let sub of children">
        <li [class.active]="sub.slug === activeCategorySlug">
          <div class="cate-row">
            <span class="cate-name" (click)="navigateToCategory(sub.slug)">
              {{ sub.name }}
            </span>
          </div>

          <ul *ngIf="isExpanded(sub)">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: sub.children }"></ng-container>
          </ul>
        </li>
      </ng-container>
    </ng-template>

    <!-- Lọc theo giá -->
    <h4>Lọc theo giá</h4>
    <ul class="filter-list">
      <li (click)="onPriceFilter('low')">Dưới 100,000 đ</li>
      <li (click)="onPriceFilter('medium')">100,000 đ - 300,000 đ</li>
      <li (click)="onPriceFilter('high')">Trên 300,000 đ</li>
      <li (click)="onPriceFilter('')">Tất cả</li>
    </ul>

    <!-- Lọc theo tác giả -->
    <h4>Lọc theo tác giả</h4>
    <ul class="filter-list">
      <li *ngFor="let author of authors" (click)="onAuthorFilter(author)">
        {{ author }}
      </li>
      <li (click)="onAuthorFilter('')">Tất cả</li>
    </ul>
  </aside>


  <!-- Danh sách sản phẩm -->
  <section class="category-products">
    <div 
      class="product-container" 
      *ngIf="(filteredProducts.length > 0 || (!selectedPrice && !selectedAuthor && products.length > 0)); else noProducts">
      
      <app-product-item
        *ngFor="let product of (filteredProducts.length > 0 ? filteredProducts : (!selectedPrice && !selectedAuthor ? products : []))"
        [book]="product"
        (showToast)="handleToast($event)"
      ></app-product-item>
    </div>

    <ng-template #noProducts>
      <p class="category__empty">{{ noProductsMessage }}</p>
    </ng-template>
  </section>

</div>
