<p-toast></p-toast>
<div class="card" style="max-width: 400px; margin: auto; padding: 2rem;">
  <h2 class="mb-3 text-center">Đặt lại mật khẩu</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field mb-4">
      <p-floatlabel variant="in">
        <input id="newPassword" type="password" pInputText formControlName="newPassword" class="w-full" />
        <label for="newPassword">Mật khẩu mới *</label>
      </p-floatlabel>
      <small class="p-error" *ngIf="form.get('newPassword')?.errors?.['weakPassword'] && form.get('newPassword')?.touched">
        Mật khẩu phải có ít nhất 6 ký tự, gồm chữ hoa, chữ thường, số và ký tự đặc biệt.
      </small>
    </div>

    <div class="field mb-4">
      <p-floatlabel variant="in">
        <input id="confirmPassword" type="password" pInputText formControlName="confirmPassword" class="w-full" />
        <label for="confirmPassword">Xác nhận mật khẩu *</label>
      </p-floatlabel>
      
      <small class="p-error"
        *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched">
        Mật khẩu không khớp
      </small>
    </div>

    <button pButton class="w-full mt-3" type="submit" [disabled]="form.invalid" label="Đặt lại mật khẩu"></button>
  </form>
</div>