:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: #f5f5f5;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 420px;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;

  label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #444;
  }

  input {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s;

    &:focus {
      border-color: #BE5985; // Tailwind blue-500
      outline: none;
    }
  }
}

button {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #BE5985;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #a5b4fc;
  }

  &:disabled {
    background-color: #a5b4fc;
    cursor: not-allowed;
  }
}
